.top-form{
-fx-background-color: #fff;
-fx-border-color: #000;
-fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
-fx-background-color: #efefef;
-fx-border-color: #000;
-fx-border-width: .2px .4px .4px .4px;
}
.nav{
-fx-background-color: linear-gradient(to bottom right,#16a47c,#2a827b);
}
.nav-btn{
-fx-background-color: transparent;
-fx-cursor: hand;
-fx-font-family: "Arial";
-fx-text-fill: #fff;
-fx-font-size: 15px;
-fx-alignment: CENTER-LEFT;
}
.shadow{
-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.4),5,0,0,0);
}
.white-bg{
-fx-background-color: #fff;
-fx-background-radius: 8px;
}
.add-btn{
-fx-background-color: #243e6b;
-fx-border-radius: 8px;
-fx-text-fill: #fff;
-fx-font-family: "Arial";
-fx-cursor: hand;
-fx-font-size: 14px
}
.add-btn:hover{
-fx-background-color: #4969a1;
}
.search{
-fx-background-color: transparent;
-fx-font-size: 14px;
-fx-font-family: "Arial";
-fx-padding: 0px 0px 0px 28px;
-fx-border-width: 1px;
-fx-border-radius: 5px;
-fx-border-color: linear-gradient(to bottom right,#16a47c,#2a827b);
}
.table-view{
-fx-background-color: transparent;
-fx-padding: 0px;
-fx-border-color: linear-gradient(to bottom right,#16a47c,#2a827b);
-fx-border-radius: 8px;
-fx-border-width: 2px;
}
.table-view .column-header-background{
-fx-background-color: linear-gradient(to bottom right,#16a47c,#2a827b);
-fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
-fx-background-color: transparent;
-fx-size: 40px;
}
.table-view .column-header .label{
-fx-text-fill: #fff;
-fx-font-family: "Arial";
}